{% extends "master.html" %}
{% block content %}

<form action="{% url 'upload.submit' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <h3 class="text-center">Створення посту</h3>
    <div class="mb-3">
    <label for="first_name" class="form-label">Title: </label>
    <input type="text" class="form-control" name="title" aria-describedby="first_name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Content: </label>
    <input type="text" name="content" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Select image: </label>
    <input type="file" name="image_upload" class="form-control" id="img" accept="image/*">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}